<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "com.prisaradio.SerFoguerer.ovnyline"
		version     = "2.3.0" > 

    <name>Ser Foguerer Alicante - Guía Hogueras de San Juan </name>

    <description>
		Aplicación con toda la información y las imágenes más interesantes de las fiestas, y todas las actividades relacionadas con nuestras hogueras.
    </description>

    <author href="http://cadenaser.com/" email="prisaradio@gmail.com">
		Prisa Radio
    </author>

    <preference name="permissions" value="none"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

    <!-- Customize your app and platform with the preference element. -->
    <preference name="phonegap-version"           value="cli-5.2.0" />      <!-- all: current version of PhoneGap -->
    <preference name="orientation"                value="portrait" />       <!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen"                 value="false" />          <!-- all: hides the status bar at the top of the screen -->
    <preference name="prerendered-icon"           value="true" />           <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
    <preference name="ios-statusbarstyle"         value="black-opaque" />   <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
    <preference name="detect-data-types"          value="true" />           <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
    <preference name="exit-on-suspend"            value="false" />          <!-- ios: if set to true, app will terminate when home button is pressed -->
    <preference name="auto-hide-splash-screen"    value="true" />           <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->
    <preference name="disable-cursor"             value="false" />          <!-- blackberry: prevents a mouse-icon/cursor from being displayed on the app -->
	
	<!--<preference name="android-targetSdkVersion"	  value="14" />-->				
	<!-- android: TARGET SDK version, designating the API Level that the application targets. If not set, the default value equals that given to minSdkVersion. ¿Nivel con el que se ha probado? -->
	
    <preference name="android-minSdkVersion"      value="15" />             <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
    <preference name="android-installLocation"    value="auto" />           <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->
	
	<preference name="android-build-tool" value="gradle" /> 

    <preference name="android-installLocation"    value="auto" />           

    <!-- Plugins -->	
	
	<plugin name="org.apache.cordova.network-information" spec="0.2.12" source="pgb" />
	
	<gap:plugin name="cordova-plugin-x-socialsharing" source="npm" spec="5.0.12" />
	<gap:plugin name="cordova-plugin-cache" spec="1.0.5" source="npm" />
		
	<gap:plugin name="cordova-plugin-file" source="npm" version="4.2.0" />
    <gap:plugin name="cordova-plugin-file-transfer" source="npm" version="1.5.1" />
	<gap:plugin name="cordova-plugin-media" source="npm" version="2.3.0" />
	<gap:plugin name="cordova-plugin-device" source="npm" version="1.1.2" />
	<gap:plugin name="cordova-plugin-geolocation" source="npm" version="2.2.0" />
	<gap:plugin name="cordova-plugin-inappbrowser" source="npm" version="1.4.0" />
	<gap:plugin name="cordova-plugin-whitelist" source="npm" spec="1.2.2" />

	<gap:plugin name="cordova-plugin-dialogs" source="npm" version="1.2.1" />
	<gap:plugin name="de.appplant.cordova.plugin.local-notification" source="npm" version="0.8.4" />
	
	<!-- Ocultar barra ios, a partir de ios7-->
	<gap:plugin name="de.appplant.cordova.plugin.hidden-statusbar-overlay" source="pgb" version="1.2.0" />

	<gap:config-file platform="ios" parent="UIStatusBarHidden">
		<true/>
	</gap:config-file>
	<gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance">
		<false/>
	</gap:config-file>

    <!-- Iconos para cada plataforma -->
    <icon src="res/icon/icon.png" />
    
    <!-- Android -->
    <icon src="res/icon/android/icon-36-ldpi.png"   gap:platform="android"    gap:density="ldpi" />
    <icon src="res/icon/android/icon-48-mdpi.png"   gap:platform="android"    gap:density="mdpi" />
    <icon src="res/icon/android/icon-72-hdpi.png"   gap:platform="android"    gap:density="hdpi" />
    <icon src="res/icon/android/icon-96-xhdpi.png"  gap:platform="android"    gap:density="xhdpi" />
    
    <!-- IOS -->
    <icon src="res/icon/ios/icon-57.png"            gap:platform="ios"        width="57" height="57" />
    <icon src="res/icon/ios/icon-72.png"            gap:platform="ios"        width="72" height="72" />
    <icon src="res/icon/ios/icon-76.png"            gap:platform="ios"        width="76" height="76" />
    <icon src="res/icon/ios/icon-57-2x.png"         gap:platform="ios"        width="114" height="114" />
    <icon src="res/icon/ios/icon-72-2x.png"         gap:platform="ios"        width="144" height="144" />
    <icon src="res/icon/ios/icon-76-2x.png"         gap:platform="ios"        width="152" height="152" />
    <icon src="res/icon/ios/icon-120.png"           gap:platform="ios"        width="120" height="120" />
    
    <!-- Winphone -->
    <icon src="res/icon/windows-phone/icon-48.png"  gap:platform="winphone" />
    <icon src="res/icon/windows-phone/icon-173.png" gap:platform="winphone"   gap:role="background" />
	
	<!-- Define app splash screen for IOS. -->    
    <gap:splash src="res/screen/ios/screen-iphone-portrait.png"    gap:platform="ios"     width="320" height="480" />
    <gap:splash src="res/screen/ios/screen-iphone-portrait-2x.png" gap:platform="ios"     width="640" height="960" />
    <gap:splash src="res/screen/ios/screen-ipad-portrait.png"      gap:platform="ios"     width="768" height="1024" />
    <gap:splash src="res/screen/ios/screen-ipad-landscape.png"     gap:platform="ios"     width="1024" height="768" />	
	<gap:splash src="res/screen/ios/Default-568h@2x.png" 		   gap:platform="ios"     width="640" height="1136"/>

	<allow-intent href="*" />
	<allow-navigation href="*" /> 
	<access origin="*"/> 

</widget>